# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual Environment
venv/
env/

# Uploaded images
uploads/

# Model checkpoints
*.h5
*.pth
*.pt
*.ckpt

# Logs
*.log

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db

# Flask
instance/

# Temporary
temp/
cache/

# Dataset
breeds/
Other/

# Build files
dist/
build/