# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual Environment
venv/
env/

# Uploaded images
uploads/

# Model checkpoints
*.h5
*.pth
*.pt
*.ckpt

# Logs
*.log

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db

# Flask
instance/

# Temporary
temp/
cache/

# Dataset
breeds/
Other/

# Build files
dist/
build/

# Dataset
breeds/
Other/

# Videos
*.mp4

# Word files
*.docx
~$*

# PowerPoint source files
*.pptx

# Python cache
__pycache__/

# Virtual environment
venv/

# Uploads
uploads/